<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <script 
    {% set first_url=rest_static_url~"js/krypton-client/V4.0/stable/kr-payment-form.min.js" %} 
    src={{ first_url }}
    kr-public-key={{ kr_public_key }} 
    kr-post-url-success="/redirect?status=success" 
    kr-post-url-refused="/redirect?status=refused"
  >
  </script>

  <link rel="stylesheet" 
    {% set second_url=rest_static_url~"js/krypton-client/V4.0/ext/classic-reset.css" %} 
    href={{ second_url }}
  >
  <script 
    {% set third_url=rest_static_url~"js/krypton-client/V4.0/ext/classic.js" %} 
    src={{ third_url }}
  >
  </script>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

  <title>Lyra - Embedded form with Flask</title>
</head>

<body>
  <div class="embedded-form">
    <!-- payment form -->
    <div class="kr-embedded" kr-form-token={{ formToken }} {% if kr_popin %} kr-popin {% endif %}>

      <!-- payment form fields -->
      <div class="kr-pan"></div>
      <div class="kr-security-code"></div>
      <div class="kr-expiry"></div>

      <!-- payment form submit button -->
      <button class="kr-payment-button"></button>

      <!-- error zone -->
      <div class="kr-form-error"></div>
    </div>

    <br>
    <a href="/"><button class="go-back_button">Go back to index</button></a>
</div>

</body>

</html>