<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

  <title>Lyra - Embedded form with Flask</title>
</head>

<body>
  <div class="error">
    <h1>An error occurred, please check either your shop environment variables or the URL.</h1>
    <br>
    <a href="/"><button class="go-back_button">Go back to index</button></a>
  </div>
</body>

</html>